html, body {
  height: 100%;  
  margin: 0;     
}

.footer {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #333;
  color: #fff;
  text-align: center;
  padding: 1%;
  opacity: 70%;
}

.footer__icons {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;  /* Space between icons */
  flex-wrap: wrap;  /* Allow icons to wrap */
}

.footer__link {
  color: #fff;
  margin: 0 10px;
  text-decoration: none;
}

.footer__link.active {
  color: #4CAF50;
}

/* Responsive adjustments */
@media (max-width: 600px) {
  .footer__icons {
      flex-direction: column; /* Stack icons vertically */
      gap: 5px; /* Reduce gap between icons */
  }

  .footer {
      position: static; /* Make footer static for smaller screens */
      padding: 10px;
  }
}
